<h3>Project Team</h3>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Rate</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_roles.each do |project_role| %>
      <tr>
        <td><%= project_role.user.email %></td>
        <td><%= project_role.role.name %></td>
        <td><%= project_role.rate %></td>
        <td><%= project_role.cost %></td>
        <td><%= link_to 'Show', project_role %></td>
        <td><%= link_to 'Edit', edit_project_role_path(project_role) %></td>
        <td><%= link_to 'Destroy', project_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
