<h1>Project: <%= @project.name %></h1>
<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render '/project_roles/list' %>
<%= link_to 'Add Project Member', project_project_roles_assign_path(@project.id) %>

<%= render '/forecasts/list' %>
<%= link_to 'New Forecast', new_project_forecast_path(@project) %>
<p>
	<%= link_to 'Project Settings', edit_project_setting_path(@project.project_setting) %>
</p>