<%= form_for(@user_forecast) do |f| %>
  <% if @user_forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_forecast.errors.count, "error") %> prohibited this user_forecast from being saved:</h2>

      <ul>
      <% @user_forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timeentry %><br>
    <%= f.text_field :timeentry %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
