<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_forecast.user.email %>
</p>

<%= render 'one_user' %>


<%= link_to 'backwards', user_forecast_path(@user_forecast, start_date: @start_date-7) %> |
<%= link_to 'forward', user_forecast_path(@user_forecast, start_date: @start_date+7) %>

