<h1>Forecasts</h1>

<table width="100%" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revision</th>
      <th>Hours</th>
      <th>Revenue</th>
      <th>Cost</th>
      <th>Result</th>
      <th>Approval</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.name %></td>
        <td><%= forecast.revision %></td>
        <td><%= forecast.total_hours %></td>
        <td><%= forecast.total_amount %></td>
        <td><%= forecast.total_cost %></td>
        <td><%= forecast.total_amount - forecast.total_cost %></td>
        <td><%= forecast.approval_status == "requested" ? (link_to forecast.approval_status, "/forecasts/#{forecast.id}/review") : forecast.approval_status %></td>
        <td><%= link_to 'Show', forecast %></td>
        <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
        <td><%= link_to 'Clone', clone_forecast_path(forecast) %></td>
        <td><%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

