<h1>Forecast: <%= @forecast.name %></h1>
<h3>Revision: <%= @forecast.revision %></h3>


<h2><strong>Total hours:</strong><div id="forecast_total_amount"><%= @forecast.total_hours %></div></h2>
<h2><strong>Total amount:</strong><div id="forecast_total_hours"><%= @forecast.total_amount %></div></h2>
<h3>Published: <div  id="published_status"><%= @forecast.published %></div></h3>


<table width="100%" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Rate</th>
      <th>Cost</th>
        <% 7.times do |i| %>
        <th>
          <%= @start_date + i %>
        </th>
        <% end %>
      <th>total hrs</th> 
      <th>total amount</th>   
      <th>total cost</th> 
      <th>margin</th>        
    </tr>
  </thead>

  <tbody>
    <% @user_forecasts.each do |user_forecast| %>
      <tr>
        <td><%= link_to user_forecast.user.email, user_forecast_path(user_forecast) %></td>
        <td><%= link_to user_forecast.project_role.role.name, project_role_path(user_forecast.project_role) %></td>
        <td><%= user_forecast.project_role.rate %></td>
        <td><%= user_forecast.project_role.cost %></td>
        <% 7.times do |i| %>
        <td align="center"><%= number_to_currency day_value(user_forecast, @start_date + i)  %></td>
        <% end %>
        <td align="center"><span id="total_hours_<%= user_forecast.project_role.id %>"><%= user_forecast.total_hours %></span></td> 
        <td align="center"><span id="total_amount_<%= user_forecast.project_role.id %>"><%= number_to_currency user_forecast.total_amount %></span></td> 
        <td align="center"><span id="total_cost_<%= user_forecast.project_role.id %>"><%= number_to_currency user_forecast.total_cost %></span></td> 
        <td align="center"><span id="total_result_<%= user_forecast.project_role.id %>"><%= number_to_currency user_forecast.total_result %></span></td>
      </tr>
    <% end %>
    <tfoot>

    <tr>
      <td colspan="4">&nbsp;</td>
      <% 7.times do |i| %>
          <td><%= number_to_currency day_total_value(@user_forecasts, @start_date + i)  %></td>
        <% end %>
      <td colspan="4">&nbsp;</td>
    </tr>
  </tfoot>

  </tbody>
</table>



<br>
<%= link_to 'backwards', forecast_path(@forecast, start_date: @start_date-7) %> |
<%= link_to 'forward', forecast_path(@forecast, start_date: @start_date+7) %>
<br><br>
<%= link_to 'edit forecast', edit_forecast_path(@forecast) %>
<br><br>
<%= link_to 'Project Overview', project_path(@forecast.project) %>


