<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

<p>
<strong>Departments:</strong>
<% @organization.departments.each do |department| %>
<p>
  <%= link_to department.name, department %>
</p>

<% end %>
</p>
<td><%= link_to 'Add Department', new_department_path %></td>